<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iterators.spring.example.mybatis.mapper.UserMapper">

    <resultMap id="userDO" type="com.iterators.spring.example.mybatis.domain.UserDO">
        <id property="id" column="u_id"/>
        <result property="name" column="u_name"/>
        <result property="password" column="u_password"/>
        <association property="role" resultMap="roleDO"/>
    </resultMap>

    <resultMap id="roleDO" type="com.iterators.spring.example.mybatis.domain.RoleDO">
        <id property="id" column="r_id"/>
        <result property="name" column="r_name"/>
    </resultMap>

    <select id="getById" resultMap="userDO">
        SELECT u.id as u_id, u.name as u_name, u.password as u_password, r.id as r_id, r.name as r_name
        FROM user as u
                 LEFT JOIN role as r ON u.role_id = r.id
        WHERE u.id = #{id};
    </select>

    <!--    将任何可迭代对象（如 List、Set 等）、Map 对象或者数组对象作为集合参数传递给 foreach。-->
    <!--    当使用可迭代对象或者数组时，index 是当前迭代的序号，item 的值是本次迭代获取到的元素。-->
    <!--    当使用 Map 对象（或者 Map.Entry 对象的集合）时，index 是键，item 是值。-->
    <!--    collection 是要遍历的集合的名称，通常与@Param指定的参数名是对应的， 如果咩有指定，使用默认的list/array/map-->
    <!--    参考：https://segmentfault.com/a/1190000023148813-->
    <select id="listByIds" resultMap="userDO">
        SELECT u.id as u_id, u.name as u_name, u.password as u_password, r.id as r_id, r.name as r_name
        FROM user as u
        LEFT JOIN role as r ON u.role_id = r.id
        WHERE 1 = 1
        <if test="ids != null and ids.size() > 0">
            AND u.id IN
            <foreach collection="ids" item="id" index="index" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        ;
    </select>
</mapper>
